<html>
	<head>
		<script type="text/javascript" src="/static/jquery.min.js"></script>
	    <script type="text/javascript" src="/static/Chart.js"></script>
	    <script type="text/javascript">
	    	$(document).ready(function() {
	    		$("#myChart").attr("width", 800);
	    		$("#myChart").attr("height", 400);

		    	var lineChart;
		        $.get("/story/line_chart/json?story={{story.pk}}&mode={{mode}}", function(data) {
		            var ctx = $("#myChart").get(0).getContext("2d");
		            lineChart = new Chart(ctx).Line(data);
		            var totalPoints = lineChart.datasets[0].points.length;
		            lineChart.datasets[0].points[totalPoints-1].fillColor = "rgba(43,143,243,1)";
			    	lineChart.datasets[0].points[totalPoints-1].highlightFill = "rgba(43,143,243,1)";
			    	lineChart.update();
			    	$(".link-row").hide();
			    	$(".link-row").each(function() {
	    				if($(this).attr("index") == {% if mode == "day" %}23{% elif mode == "week" %}6{% elif mode == "month" %}30{% endif %}) {
	    					$(this).show();
	    				}
	    			});
		        });

		        var theChart = document.getElementById("myChart");
			    theChart.onclick = function(evt) {
			    	activePoints = lineChart.getPointsAtEvent(evt);
			    	if(activePoints.length > 0) {
			    		$(".link-row").hide();
				    	for(var i=0;i<lineChart.datasets[0].points.length;i++) {
				    		if(lineChart.datasets[0].points[i].label == activePoints[0].label) {
				    			lineChart.datasets[0].points[i].fillColor = "rgba(43,143,243,1)";
				    			lineChart.datasets[0].points[i].highlightFill = "rgba(43,143,243,1)";

				    			//show links associated with area
				    			$(".link-row").each(function() {
				    				if($(this).attr("index") == i) {
				    					$(this).show();
				    				}
				    			});
				    		}
				    		else {
				    			lineChart.datasets[0].points[i].fillColor = "rgba(203, 202, 198, 1)";
				    			lineChart.datasets[0].points[i].highlightFill = "rgba(203, 202, 198, 1)";
				    		}
				    	}
				    	lineChart.update();
				    }
				};
			});
	    </script>
	    <style>
	    	body {
	    		width:100%;
	    	}
		    #myChart {
		    	width:10px;
		    }
	    </style>
	</head>

	<body>
		<canvas id="myChart"></canvas>
			<div style="height:55px;width:800px;overflow:scroll;">
			<table id="linksTable">
				{% for hour_list in links %}
					{% for hour in hour_list %}
						{% for source in hour.hour_count_sources %}
							{% for link in source.get_links %}
								<tr class="link-row" index="{{forloop.parentloop.parentloop.parentloop.counter|add:"-1"}}">
									<td>{{link.date}}</td>
									<td><a href="{{link.url}}" target="_parent">{{link.title}}</a></td>
								</tr>
							{% endfor %}
						{% endfor %}
					{% endfor %}
				{% endfor %}
			</table>
			</div>

    </body>
</html