{% extends "base.html" %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="/static/chart.css">
{% endblock %}

{% block content %}

	<script>
		var dayHtml = "";
		var weekHtml = "";
		var monthHtml = "";
		var currentMode = "day";
		function changeChart(mode) {
			$("#chartFrame").attr("src", "chart?mode="+mode);
			currentMode = mode;
		}

		$(document).ready(function() {
			$("#chartFrame").width($(window).width());
		});

	</script>

	{% if story %}
		<div class="story-title">{{story.title}}</div>
		<div class="story-date">{{story.start_date}}</div>
		<iframe id="chartFrame" src="chart" width="810" height="460" frameborder="0" scrolling="no"></iframe>

		<div class="story-description">{{story.description|linebreaksbr}}</div>
		{% include "story/timeline.html" %}
	{% else %}
		<div class="not-found">No Story With This Name</div>
	{% endif %}


{% endblock %}