{% extends "base.html" %}

{% block content %}
	{% if story %}
		<div class="story-title">{{story.title}}</div>
		<div class="story-date">{{story.start_date}}</div>
		<div class="story-description">{{story.description|linebreaksbr}}</div>
		{% include "story/timeline.html" %}
	{% else %}
		<div class="not-found">No Story With This Name</div>
	{% endif %}

	<canvas id="myChart" width="500" height="400"></canvas>

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
    <script type="text/javascript" src="/static/Chart.min.js"></script>
    <script type="text/javascript">
        $.get("/story/line_chart/json", function(data) {
            var ctx = $("#myChart").get(0).getContext("2d");
            new Chart(ctx).Line(data);
        });
    </script>


{% endblock %}