<div class="story-timeline">
	<h3>{{story.title}} Timeline</h3>
	<table class="timeline-table">
	{% for headline in story.headlines %}
		<tr>
			<td>{% if headline.description %}
				<a href="/story/{{story.slug}}/{{headline.pk}}/">
				{% endif %}
				{{headline.title}}
				{% if headline.description %}</a>{% endif %}
			</td>
			<td>{{headline.date}}</td>
			<td>
			{% for link in headline.links %}
				<a class="source-link" href="{{link.url}}">{{link.source}}</a>
			{% endfor %}
			<td>
		</tr>
	{% endfor %}
	</table>
</div>