<div class="story-timeline">
	<h3>The Rundown</h3>
	<table class="timeline-table">
	{% for headline in story.headlines %}
		<tr>
			<td>
				<div class="headline-date">
					{{headline.date|date:"M"}}
					<br />
					{{headline.date.day}}
				</div>
				<div class="headline-title">
				{% if headline.description %}
				<a href="/story/{{story.slug}}/{{headline.pk}}/">{{headline.title}}</a>
				{% else %}
					{{headline.title}}
				{% endif %}
				</div>
			</td>
		</tr>
	{% endfor %}
	</table>
</div>